<f:layout name="Master" />

<f:section name="content">
	<h1>Edit Circular</h1>
	<f:render partial="CircularForm" arguments="{action: 'update', circular: circular, objectName: 'circular', electorates: electorates, elections: elections}" />
</f:section>