<f:layout name="Master" />

<f:section name="content">
	<h1>Circulars</h1>
	<f:if condition="{circulars}">
		<f:then>
			<table>
				<tr>
					<th style="width: 200px">Subject</th>
					<th style="width: 200px">Electorate</th>
					<th style="width: 70px"># sent</th>
					<th style="width: 70px"># remaining</th>
					<th style="width: 150px">Options</th>
				</tr>
				<f:for each="{circulars}" as="circular">
					<tr>
						<td><f:link.action action="show" arguments="{circular: circular}">{circular.subject}</f:link.action></td>
						<td>{circular.electorate}</td>
						<td style="text-align: right; padding-right: 15px">{f:count(subject: circular.servedEmails)}</td>
						<td style="text-align: right; padding-right: 15px">{f:count(subject: circular.remainingRecipients)}</td>
						<td>
							<f:link.action action="edit" arguments="{circular: circular}">edit</f:link.action>
							<f:link.action action="delete" arguments="{circular: circular}" onclick="return confirm('Are you sure that you want to delete the circular \'{circular.subject}\'?')">delete</f:link.action>
							<f:link.action action="duplicate" arguments="{circular: circular}">duplicate</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no circulars yet</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new">Add circular</f:link.action>
</f:section>