<f:layout name="Master" />

<f:section name="content">
	<h1>Add Circular</h1>
	<f:render partial="CircularForm" arguments="{action: 'create', circular: newCircular, objectName: 'newCircular', electorates: electorates, elections: elections}" />
</f:section>