{namespace b=TYPO3\BccVoting\ViewHelpers}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>TYPO3 Association voting</title>
	<f:base />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="refresh" content="0;url={f:uri.action(action: 'send', absolute: 1, arguments: '{circular: circular}')}" />
	<link rel="stylesheet" type="text/css" href="../../Public/Css/Main.css" />
</head>
<body>
	<div id="container">
		<p>Sending circulars {f:count(subject: circular.servedEmails)} / {f:count(subject: circular.electorate.electors)}</p>
		<b:percentBar currentValue="{f:count(subject: circular.servedEmails)}" targetValue="{f:count(subject: circular.electorate.electors)}" />
		</p><f:link.action action="show" arguments="{circular: circular}">cancel</f:link.action></p>
	</div>
</body>
</html>