{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<h1>Circular &quot;{circular.subject}&quot;</h1>
	<table>
		<tr>
			<td><label>subject</label></td>
			<td>{circular.subject}</td>
		</tr>
		<tr>
			<td><label>body</label></td>
			<td>{replacedBody -> b:format.urisToLinks() -> f:format.nl2br()}</td>
		</tr>
		<tr>
			<td colspan="2"><label>served recipients ({f:count(subject: circular.servedEmails)}):</label></td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="height: 200px; overflow-y: auto;">
					<ul>
						<f:for each="{circular.servedEmails}" as="email">
							<li>{email}</li>
						</f:for>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><label>remaining recipients ({f:count(subject: circular.remainingRecipients)}):</label></td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="height: 200px; overflow-y: auto;">
					<ul>
						<f:for each="{circular.remainingRecipients}" as="recipient">
							<li>{recipient.fullName} ({recipient.email})</li>
						</f:for>
					</ul>
				</div>
			</td>
		</tr>
	</table>
	<fieldset>
		<legend>Send preview circular</legend>
		<f:form action="sendPreview" object="{circular}" objectName="circular">
			<f:form.textfield name="email" type="email" />
			<f:form.submit value="send test circular to the specified email" />
		</f:form>
	</fieldset>
	<f:form action="send" object="{circular}" objectName="circular">
		<f:if condition="{circular.remainingRecipients}">
			<f:then>
				<f:form.submit value="send circular" />
			</f:then>
			<f:else>
				<f:form.submit value="send circular (no remaining recipients)" disabled="true" />
			</f:else>
		</f:if>
	</f:form>
</f:section>