<f:layout name="Master" />

<f:section name="content">
	<h1>Your vote was accepted</h1>
	<p>Thank you for your vote in election &quot;{election.title}&quot;.</p>
	<p><f:link.action action="index" controller="Standard">home</f:link.action></p>
</f:section>