<f:layout name="Master" />

<f:section name="content">
	<h1>Elections</h1>
	<h2>Active elections</h2>
	<f:if condition="{activeElections}">
		<f:then>
			<table>
				<tr>
					<th style="width: 250px">Title</th>
					<th style="width: 100px">Start date</th>
					<th style="width: 100px">End date</th>
					<th style="width: 130px"># Nominees/Budgets</th>
					<th style="width: 200px">Options</th>
				</tr>
				<f:for each="{activeElections}" as="election">
					<tr>
						<td>
							<f:link.action action="show" arguments="{election: election}">{election.title}</f:link.action>
						</td>
						<td title="{election.startDate -> f:format.date(format: 'r')}">{election.startDate -> f:format.date(format: 'j.n.Y')}</td>
						<td title="{election.endDate -> f:format.date(format: 'r')}">{election.endDate -> f:format.date(format: 'j.n.Y')}</td>
						<td style="text-align: right; padding-right: 15px">
                            <f:if condition="{0: election.type} == {0: 'Person'}">
                                {f:count(subject: election.nominees)}
                            </f:if>
                            <f:if condition="{0: election.type} == {0: 'Budget'}">
                                {f:count(subject: election.budgets)}
                            </f:if>
                        </td>
						<td>
							<f:link.action action="edit" arguments="{election: election}">edit</f:link.action>
							<f:if condition="{election.active}">
								<f:then>
									<em title="Active elections can't be deleted.">delete</em>
								</f:then>
								<f:else>
									<f:link.action action="delete" arguments="{election: election}" onclick="return confirm('Are you sure that you want to delete the election \'{election.title}\'?')">delete</f:link.action>
								</f:else>
							</f:if>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are currently no active elections</em></p>
		</f:else>
	</f:if>
	<h2>Upcoming elections</h2>
	<f:if condition="{upcomingElections}">
		<f:then>
			<table>
				<tr>
					<th style="width: 250px">Title</th>
					<th style="width: 100px">Start date</th>
					<th style="width: 100px">End date</th>
					<th style="width: 130px"># Nominees/Budgets</th>
					<th style="width: 200px">Options</th>
				</tr>
				<f:for each="{upcomingElections}" as="election">
					<tr>
						<td>
							<f:link.action action="show" arguments="{election: election}">{election.title}</f:link.action>
						</td>
						<td title="{election.startDate -> f:format.date(format: 'r')}">{election.startDate -> f:format.date(format: 'j.n.Y')}</td>
						<td title="{election.endDate -> f:format.date(format: 'r')}">{election.endDate -> f:format.date(format: 'j.n.Y')}</td>
                        <td style="text-align: right; padding-right: 15px">
                            <f:if condition="{0: election.type} == {0: 'Person'}">
                                {f:count(subject: election.nominees)}
                            </f:if>
                            <f:if condition="{0: election.type} == {0: 'Budget'}">
                                {f:count(subject: election.budgets)}
                            </f:if>
                        </td>
						<td>
							<f:link.action action="edit" arguments="{election: election}">edit</f:link.action> |
							<f:link.action action="delete" arguments="{election: election}" onclick="return confirm('Are you sure that you want to delete the election \'{election.title}\'?')">delete</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are currently no upcoming elections</em></p>
		</f:else>
	</f:if>
	<h2>Expired elections</h2>
	<f:if condition="{expiredElections}">
		<f:then>
			<table>
				<tr>
					<th style="width: 250px">Title</th>
					<th style="width: 100px">Start date</th>
					<th style="width: 100px">End date</th>
					<th style="width: 130px"># Nominees/Budgets</th>
					<th style="width: 200px">Options</th>
				</tr>
				<f:for each="{expiredElections}" as="election">
					<tr>
						<td>
							<f:link.action action="show" arguments="{election: election}">{election.title}</f:link.action>
						</td>
						<td title="{election.startDate -> f:format.date(format: 'r')}">{election.startDate -> f:format.date(format: 'j.n.Y')}</td>
						<td title="{election.endDate -> f:format.date(format: 'r')}">{election.endDate -> f:format.date(format: 'j.n.Y')}</td>
                        <td style="text-align: right; padding-right: 15px">
                            <f:if condition="{0: election.type} == {0: 'Person'}">
                                {f:count(subject: election.nominees)}
                            </f:if>
                            <f:if condition="{0: election.type} == {0: 'Budget'}">
                                {f:count(subject: election.budgets)}
                            </f:if>
                        </td>
						<td>
							<f:link.action action="edit" arguments="{election: election}">edit</f:link.action> |
							<f:link.action action="delete" arguments="{election: election}" onclick="return confirm('Are you sure that you want to delete the election \'{election.title}\'?')">delete</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are currently no expired elections</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new" controller="PersonElection">Add EAB/BCC election</f:link.action> | <f:link.action action="new" controller="BudgetElection">Add budget election</f:link.action>
</f:section>