<f:layout name="Master" />

<f:section name="content">
	<h2>Login</h2>
	<f:form action="authenticate" method="post">
		<dl>
			<dt>
				<label for="username">Username</label>
			</dt>
			<dd>
				<input type="text" id="username" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" tabindex="1" />
			</dd>
			<dt>
				<label for="password">Password</label>
			</dt>
			<dd>
				<input type="password" id="password" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" tabindex="2" />
			</dd>
			<dd>
				<f:form.submit value="Login" />
			</dd>
		</dl>
	</f:form>
</f:section>