<f:layout name="Master" />

<f:section name="content">
	<h1>Nominee application form</h1>
	<f:render partial="NomineeApplicationForm" arguments="{action: 'createApplication', nominee: newNominee, objectName: 'newNominee'}" />
</f:section>