<f:layout name="Master" />

<f:section name="content">
	<h1>Edit nominee &quot;{nominee.fullName}&quot;</h1>
	<f:render partial="NomineeForm" arguments="{action: 'update', nominee: nominee, objectName: 'nominee'}" />
</f:section>