<f:layout name="Master" />

<f:section name="content">
	<h1>Nominees</h1>
	<h2>Public nominees</h2>
	<f:if condition="{publicNominees}">
		<f:then>
			<table>
				<tr>
					<th colspan="5"><a href="#" class="toggleComments">Show/hide comments</a></th>
				</tr>
				<tr>
					<th style="width: 50px">Image</th>
					<th style="width: 140px">Name</th>
					<th style="width: 240px">Email</th>
					<th style="width: 100px"># Elections</th>
					<th style="width: 70px">Options</th>
				</tr>
				<f:for each="{publicNominees}" as="nominee">
					<tr>
						<td>
							<f:if condition="{nominee.image.originalResource}">
								<f:then>
									<img src="{f:uri.resource(resource: nominee.image.originalResource)}" style="max-width: 50px" alt="{nominee.image.title}" />
								</f:then>
								<f:else>
									<img src="{f:uri.resource(path: 'Images/NoImage.png')}" style="max-width: 50px" alt="{nominee.image.title}" />
								</f:else>
							</f:if>
						</td>
						<td>{nominee.fullName}</td>
						<td><f:link.email email="{nominee.email}">{nominee.email}</f:link.email></td>
						<td style="text-align: right; padding-right: 15px">{f:count(subject: nominee.elections)}</td>
						<td>
							<f:link.action action="edit" arguments="{nominee: nominee}">edit</f:link.action>
						</td>
					</tr>
					<f:if condition="{nominee.comments}">
						<tr class="comment">
							<td colspan="5">
								{nominee.comments -> f:format.nl2br()}
							</td>
						</tr>
					</f:if>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no public nominees yet</em></p>
		</f:else>
	</f:if>
	<h2>Hidden nominees</h2>
	<f:if condition="{hiddenNominees}">
		<f:then>
			<table>
				<tr>
					<th style="width: 50px">Image</th>
					<th style="width: 150px">Name</th>
					<th style="width: 330px">Email</th>
					<th style="width: 70px">Options</th>
				</tr>
				<f:for each="{hiddenNominees}" as="nominee">
					<tr>
						<td>
							<f:if condition="{nominee.image.originalResource}">
								<f:then>
									<img src="{f:uri.resource(resource: nominee.image.originalResource)}" style="max-width: 50px" alt="{nominee.image.title}" />
								</f:then>
								<f:else>
									<img src="{f:uri.resource(path: 'Images/NoImage.png')}" style="max-width: 50px" alt="{nominee.image.title}" />
								</f:else>
							</f:if>
						</td>
						<td>{nominee.fullName}</td>
						<td><f:link.email email="{nominee.email}">{nominee.email}</f:link.email></td>
						<td>
							<f:link.action action="edit" arguments="{nominee: nominee}">edit</f:link.action>
							<f:link.action action="delete" arguments="{nominee: nominee}" onclick="return confirm('Are you sure that you want to delete the nominee \'{nominee.fullName}\'?')">delete</f:link.action>
						</td>
					</tr>
					<f:if condition="{nominee.comments}">
						<tr class="comment">
							<td colspan="5">
								{nominee.comments -> f:format.nl2br()}
							</td>
						</tr>
					</f:if>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no hidden nominees</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new">Add nominee</f:link.action>
</f:section>