<f:layout name="Master" />

<f:section name="content">
	<h1>Add nominee</h1>
	<f:render partial="NomineeForm" arguments="{action: 'create', nominee: newNominee, objectName: 'newNominee'}" />
</f:section>