<f:layout name="Master" />

<f:section name="content">
	<f:render partial="ElectorateForm" arguments="{action: 'update', electorate: electorate, objectName: 'electorate', electors: electors}" />
</f:section>