<f:layout name="Master" />

<f:section name="content">
	<h1>Electorates</h1>
	<f:if condition="{electorates}">
		<f:then>
			<table>
				<tr>
					<th style="width: 250px">Title</th>
					<th style="width: 80px"># Electors</th>
					<th style="width: 250px">Options</th>
				</tr>
				<f:for each="{electorates}" as="electorate">
					<tr>
						<td>{electorate.title}</td>
						<td style="text-align: right; padding-right: 15px">{f:count(subject: electorate.electors)}</td>
						<td>
							<f:link.action action="edit" arguments="{electorate: electorate}">edit</f:link.action> |
							<f:link.action action="delete" arguments="{electorate: electorate}" onclick="return confirm('Are you sure that you want to delete the nominee \'{electorate.title}\'?')">delete</f:link.action> |
							<f:link.action controller="Elector" action="importform" arguments="{currentElectorate: electorate}">import electors</f:link.action>
							<f:if condition="{electorate.electors}">
								| <f:link.action controller="Elector" action="export" arguments="{electorate: electorate}">export electors</f:link.action>
							</f:if>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no electorates yet</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new">Add electorate</f:link.action>
</f:section>