<f:layout name="Master" />

<f:section name="content">
	<h1>Add Electorate</h1>
	<f:render partial="ElectorateForm" arguments="{action: 'create', electorate: newElectorate, objectName: 'newElectorate', electors: electors}" />
</f:section>