    <dl>
		<dt><label for="maxNumberOfVotes"># of Votes/Elector</label></dt>
		<dd><f:form.select property="maxNumberOfVotes" id="maxNumberOfVotes" options="{numberOfVotesOptions}" /></dd>
	</dl>
	<h2><label for="nominees">Nominees</label></h2>
	<f:form.select property="nominees" id="nominees" class="multiselect" options="{publicNominees}" multiple="multiple" />
