{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:render partial="Errors" arguments="{objectName: objectName}" />
<f:form action="{action}" object="{budget}" objectName="{objectName}" enctype="multipart/form-data">
	<dl>
		<f:render partial="Textfield" arguments="{property: 'title', label: 'Title'}" />
        <dt><label for="comments">Description</label></dt>
        <dd><f:form.textarea property="description" id="description" rows="20" cols="80" /></dd>
        <f:render partial="Textfield" arguments="{property: 'applicant', label: 'Applicant'}" />
        <f:render partial="Textfield" arguments="{property: 'url', label: 'URL'}" />
        <f:render partial="Textfield" arguments="{property: 'amount', label: 'Amount (€)'}" />

		<dd>
			<f:form.submit value="{action} budget" />
		</dd>
	</dl>
</f:form>