{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:render partial="Errors" arguments="{objectName: objectName}" />
<f:form action="{action}" object="{circular}" objectName="{objectName}">
	<dl>
		<f:render partial="Textfield" arguments="{property: 'subject', label: 'Subject'}" />
		<dt><label for="body">Body</label></dt>
		<dd style="vertical-align: top">
			<f:form.textarea property="body" id="body" rows="15" cols="40" />
			<select onchange="if (this.value != '') ( document.getElementById('body').value += this.value); this.value = ''; return false;">
				<option value="">- insert placeholders - </option>
				<optgroup label="elector placeholders">
					<option value="###fullName###">full name</option>
					<option value="###firstName###">first name</option>
					<option value="###email###">email</option>
				</optgroup>
				<optgroup label="election token links">
					<f:for each="{elections}" as="election">
						<option value="[[{election -> b:identity.uuid()}|{election.title}]]">{election.title}{f:if(condition: election.active, else: ' (inactive)')}</option>
					</f:for>
				</optgroup>
			</select>
		</dd>
		<dt><label for="recipients">Recipients</label></dt>
		<dd><f:form.select property="electorate" id="recipients" options="{electorates}" /></dd>
		<dd>
			<f:form.submit value="continue" />
		</dd>
	</dl>
</f:form>