{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:render partial="Errors" arguments="{objectName: objectName}" />
<f:form action="{action}" object="{electorate}" objectName="{objectName}">
	<dl>
		<f:render partial="Textfield" arguments="{property: 'title', label: 'Title'}" />
	</dl>
	<f:if condition="{electors}">
		<h2><label for="electors">Electors</label></h2>
		<f:form.select property="electors" id="electors" class="multiselect" options="{electors}" multiple="multiple" />
	</f:if>
	<dl>
		<dd>
			<f:form.submit value="{action} electorate" />
		</dd>
	</dl>
</f:form>