{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:render partial="Errors" arguments="{objectName: objectName}" />
<f:form action="{action}" object="{election}" objectName="{objectName}">
	<dl>
		<f:render partial="Textfield" arguments="{property: 'title', label: 'Title'}" />
		<dt><label for="description">Description</label></dt>
		<dd><f:form.textarea property="description" id="description" rows="7" cols="40" /></dd>
		<dt><label for="startDate">Start date</label></dt>
		<dd><b:form.datetime property="startDate" id="startDate" dateFormat="d.m.y" initialDate="today" /></dd>
		<dt><label for="startDate">End date</label></dt>
		<dd><b:form.datetime property="endDate" id="endDate" dateFormat="d.m.y" initialDate="+2 weeks 23:59" /></dd>
		<dt><label for="electorate">Electorate</label></dt>
		<dd><f:form.select property="electorate" id="electorate" options="{electorates}" optionLabelField="title" /></dd>
    </dl>
    <f:if condition="{0: type} == {0: 'Person'}">
        <f:render partial="Election/PersonElectionFormFields" arguments="{election: election, publicNominees: publicNominees, numberOfVotesOptions: numberOfVotesOptions}" />
    </f:if>
    <f:if condition="{0: type} == {0: 'Budget'}">
        <f:render partial="Election/BudgetElectionFormFields" arguments="{election: election, budgets: budgets}" />
    </f:if>
    <dl>
		<dd>
			<f:form.submit value="{action} election" />
		</dd>
	</dl>
</f:form>