<f:form.validationResults for="{objectName}">
	<f:if condition="{validationResults.flattenedErrors}">
		<ul class="errors">
			<f:for each="{validationResults.flattenedErrors}" as="errors" key="property">
				<li>
					{property}:
					<f:for each="{errors}" as="error">{error}</f:for>
				</li>
			</f:for>
		</ul>
	</f:if>
</f:form.validationResults>