<dt><label for="{property}">{label}</label></dt>
<f:if condition="{resource}">
	<f:then>
		<dd id="{property}-preview">
			<a href="{f:uri.resource(resource: resource)}" rel="lytebox">
				<img src="{f:uri.resource(resource: resource)}" style="width: 150px;" />
			</a>
			<br />
			<a href="#" onclick="return !enableUpload();">replace image</a>
		</dd>
		<dd id="{property}" style="display: none">
			<f:form.hidden property="{property}.title" value="" id="{property}-title" additionalAttributes="{disabled: 'disabled'}" />
			<f:form.upload property="{property}.originalResource" id="{property}-upload" />
			<br />
			<a href="#" onclick="return !disableUpload();">cancel</a>
		</dd>
	</f:then>
	<f:else>
		<dd id="{property}">
			<f:form.hidden property="{property}.title" value="" id="{property}-title" />
			<f:form.upload property="{property}.originalResource" id="{property}-upload" />
		</dd>
	</f:else>
</f:if>

<script type="text/javascript">
	var hasResource = {f:if(condition: resource, then: 'true', else: 'false')};
	var property = '{property}';
//<![CDATA[
	function enableUpload() {
		document.getElementById(property + '-preview').style.display = 'none';
		document.getElementById(property).style.display = 'block';
		return true;
	}
	function disableUpload() {
		document.getElementById(property + '-preview').style.display = 'block';
		document.getElementById(property).style.display = 'none';
		return true;
	}
//]]></script>