{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:render partial="Errors" arguments="{objectName: objectName}" />
<f:form action="{action}" object="{nominee}" objectName="{objectName}" enctype="multipart/form-data">
	<dl>
		<f:render partial="Textfield" arguments="{property: 'firstName', label: 'First name'}" />
		<f:render partial="Textfield" arguments="{property: 'middleName', label: 'Middle name'}" />
		<f:render partial="Textfield" arguments="{property: 'lastName', label: 'Last name'}" />
		<dt><label>Gender</label></dt>
		<dd>
			<f:if condition="{nominee}">
				<f:then>
					<label><f:form.radio property="gender" id="gender-female" value="female" /> Female</label><label><f:form.radio property="gender" id="gender-male" value="male" /> Male</label>
				</f:then>
				<f:else>
					<label><input id="gender-female" type="radio" name="{objectName}[gender]" value="female" /> Female</label><label><input id="gender-male" type="radio" name="{objectName}[gender]" value="male" /> Male</label>
				</f:else>
			</f:if>
		</dd>
		<f:render partial="Textfield" arguments="{property: 'email', label: 'Email'}" />
		<f:render partial="Textfield" arguments="{property: 'url', label: 'URL'}" />
		<f:render partial="ImageUpload" arguments="{property: 'image', label: 'Image', resource: nominee.image.originalResource}" />
		<dt><label for="comments">Comments</label></dt>
		<dd><f:form.textarea property="comments" id="comments" rows="7" cols="40" /></dd>
		<dd>
			<f:form.submit value="Send application now" />
		</dd>
	</dl>
</f:form>