<f:form.validationResults for="{propertyPath}">
	<f:if condition="{validationResults.flattenedErrors}">
		<p><strong class="errors">
			<f:for each="{validationResults.errors}" as="error">
				{error}
			</f:for>
		</strong></p>
	</f:if>
</f:form.validationResults>