<f:layout name="Master" />

<f:section name="content">
	<f:render partial="ElectionForm" arguments="{action: 'update', election: election, objectName: 'election', electorates: electorates, publicNominees: publicNominees, numberOfVotesOptions: numberOfVotesOptions, type: election.type}" />
</f:section>