<f:layout name="Master" />

<f:section name="content">
	<f:render partial="ElectionForm" arguments="{action: 'create', election: newPersonElection, objectName: 'newPersonElection', electorates: electorates, publicNominees: publicNominees, numberOfVotesOptions: numberOfVotesOptions, type: 'Person'}" />
</f:section>