{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<script type="text/javascript">
		var maxNumberOfVotes = {election.maxNumberOfVotes};
		<![CDATA[
		function checkMaxNumberOfVotes() {
			if (maxNumberOfVotes < 1 || maxNumberOfVotes == 1) {
				return true;
			}
			var numberOfVotes = 0;
			$('input[type="checkbox"]').each(function(){
				if ($(this).attr('checked')) {
					numberOfVotes ++;
				}
			});
			if (numberOfVotes > maxNumberOfVotes) {
				alert('You can only vote for up to ' + maxNumberOfVotes + ' nominees in this election.');
				return false;
			}
			return true;
		}
		]]>
	</script>
	<h1>Election &quot;{election.title}&quot;</h1>
	<f:if condition="{code}">
		<f:then>
			<p>Dear elector,</p>
		</f:then>
		<f:else>
			<p>Dear visitor,</p>
		</f:else>
	</f:if>
	<p>{election.description}</p>
	<p>This election is active from <strong>{election.startDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.startDate -> b:format.age()}) until <strong>{election.endDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.endDate -> b:format.age()})</p>
	<f:if condition="{code}">
		<f:if condition="{election.maxNumberOfVotes} == 1">
			<f:then>
				<p>You can vote for <strong>one</strong> nominee in this election.</p>
			</f:then>
			<f:else>
				<f:if condition="{election.maxNumberOfVotes} == 0">
					<f:then>
						<p>You can vote for up to <strong>{f:count(subject: election.nominees)}</strong> nominees in this election.</p>
					</f:then>
					<f:else>
						<p>You can vote for up to <strong>{election.maxNumberOfVotes}</strong> nominees in this election.</p>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>
	<f:form action="vote" objectName="personVote">
		<f:if condition="{code}">
			<f:form.hidden name="code" value="{code}" />
			<f:form.hidden property="election" value="{election}" />
		</f:if>
		<table>
			<tr>
				<th colspan="2"><h2>Nominees:</h2></th>
				<th colspan="2"><a href="#" class="toggleComments">Show/hide comments</a></th>
			</tr>
			<tr>
				<th style="width: 50px">Image</th>
				<th style="width: 150px">Name</th>
				<th style="width: 250px">Website</th>
				<th style="width: 70px">Votes</th>
			</tr>
			<f:for each="{election.nominees}" as="nominee" iteration="iteration">
				<tr>
					<td>
						<f:if condition="{nominee.image.originalResource}">
							<f:then>
								<img src="{f:uri.resource(resource: nominee.image.originalResource)}" style="max-width: 50px" alt="{nominee.image.title}" />
							</f:then>
							<f:else>
								<img src="{f:uri.resource(path: 'Images/NoImage.png')}" style="max-width: 50px" alt="{nominee.image.title}" />
							</f:else>
						</f:if>
					</td>
					<td>{nominee.fullName}</td>
					<td>
						<f:if condition="{nominee.url}">
							<f:then>
								<f:link.external uri="{nominee.url}">{nominee.url}</f:link.external>
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
					<td>
						<f:if condition="{code}">
							<f:then>
								<f:if condition="{election.active}">
									<f:then>
										<f:if condition="{election.maxNumberOfVotes} == 1">
											<f:then>
												<b:form.radio property="nominees" id="nominee-{iteration.cycle}" value="{nominee}" multiple="multiple" />
											</f:then>
											<f:else>
												<b:form.checkbox property="nominees" id="nominee-{iteration.cycle}" value="{nominee}" multiple="multiple" onclick="return checkMaxNumberOfVotes()" />
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<em>voting period expired!</em>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<em>only electors are able to vote</em>
							</f:else>
						</f:if>
					</td>
				</tr>
				<f:if condition="{nominee.comments}">
					<tr class="comment">
						<td colspan="4">
							{nominee.comments -> f:format.nl2br()}
						</td>
					</tr>
				</f:if>
			</f:for>
			<tr>
				<td colspan="4">
					<f:if condition="{code}">
						<f:if condition="{election.active}">
							<f:form.submit value="VOTE!" />
						</f:if>
					</f:if>
					<f:if condition="{election.active}">
						<f:then></f:then>
						<f:else>
							<p><em>The voting period of this election has expired!</em></p>
							<p><f:link.action action="showResults" arguments="{election: election}">show results</f:link.action></p>
						</f:else>
					</f:if>
				</td>
			</tr>
		</table>
	</f:form>
</f:section>