{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<h1>Election &quot;{election.title}&quot;</h1>
	<p>Dear visitor,</p>
	<p>{election.description}</p>
	<p>This election is active from <strong>{election.startDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.startDate -> b:format.age()}) until <strong>{election.endDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.endDate -> b:format.age()})</p>
	<table>
		<tr>
			<th colspan="2"><h2>Votes ({votingResult.totalVotes} total votes):</h2></th>
			<th colspan="2"><a href="#" class="toggleComments">Show/hide comments</a></th>
		</tr>
		<tr>
			<th style="width: 50px">Image</th>
			<th style="width: 150px">Name</th>
			<th style="width: 250px">Website</th>
			<th style="width: 70px">Votes</th>
		</tr>
		<f:for each="{votingResult.nomineeVotes}" as="nomineeVote" iteration="iteration">
			<tr>
				<td>
					<f:if condition="{nomineeVote.nominee.image.originalResource}">
						<f:then>
							<img src="{f:uri.resource(resource: nomineeVote.nominee.image.originalResource)}" style="max-width: 50px" alt="{nomineeVote.nominee.image.title}" />
						</f:then>
						<f:else>
							<img src="{f:uri.resource(path: 'Images/NoImage.png')}" style="max-width: 50px" alt="{nominee.image.title}" />
						</f:else>
					</f:if>
				</td>
				<td>{nomineeVote.nominee.fullName}</td>
				<td>
					<f:if condition="{nomineeVote.nominee.url}">
						<f:then>
							<f:link.external uri="{nomineeVote.nominee.url}">{nomineeVote.nominee.url}</f:link.external>
						</f:then>
						<f:else>
							-
						</f:else>
					</f:if>
				</td>
				<td>
					{nomineeVote.votes}
				</td>
			</tr>
			<f:if condition="{nomineeVote.nominee.comments}">
				<tr class="comment">
					<td colspan="4">
						{nomineeVote.nominee.comments -> f:format.nl2br()}
					</td>
				</tr>
			</f:if>
		</f:for>
	</table>
</f:section>