<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>TYPO3 Association Voting/Polling</title>
	<f:base />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../Public/Css/Main.css" />
	<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" />
	<link rel="stylesheet" type="text/css" href="../../Public/Css/ui.multiselect.css" />
	<script type="text/javascript" src="../../Public/JavaScript/jQuery.js"></script>
	<script type="text/javascript" src="../../Public/JavaScript/jQuery-ui.js"></script>
	<script type="text/javascript" src="../../Public/JavaScript/plugins/localisation/jquery.localisation-min.js"></script>
	<script type="text/javascript" src="../../Public/JavaScript/plugins/scrollTo/jquery.scrollTo-min.js"></script>
	<script type="text/javascript" src="../../Public/JavaScript/ui.multiselect.js"></script>
	<script type="text/javascript" src="../../Public/JavaScript/Main.js"></script>
	<!--[if gte IE 9]>
	<style type="text/css">.gradient { filter: none;}</style>
	<![endif]-->
</head>
<body>
	<div id="container">
		<f:flashMessages class="flashmessages"></f:flashMessages>
		<div id="content">
			<f:render section="content" />
		</div>
		<div id="footer">
			<ul id="footerNavigation">
				<li><f:link.action action="index" controller="Standard"  class="btn btn-warning">home</f:link.action></li>
				<f:security.ifHasRole role="Supervisor">
					<li><f:link.action controller="Nominee" class="btn btn-warning">Nominees</f:link.action></li>
                    <li><f:link.action controller="Budget" class="btn btn-warning">Budgets</f:link.action></li>
					<li><f:link.action controller="Elector" class="btn btn-warning">Electors</f:link.action></li>
					<li><f:link.action controller="Electorate" class="btn btn-warning">Electorates</f:link.action></li>
					<li><f:link.action controller="Election" class="btn btn-warning">Elections/Pollings</f:link.action></li>
					<li><f:link.action controller="Circular" class="btn btn-warning">Circulars</f:link.action></li>
				</f:security.ifHasRole>
			</ul>
			<div id="login">
				<f:security.ifAuthenticated>
					<f:then>
						<f:link.action controller="Login" action="logout" class="btn btn-success">Logout</f:link.action>
					</f:then>
					<f:else>
						<f:link.action controller="Login" class="btn btn-success">Login</f:link.action>
					</f:else>
				</f:security.ifAuthenticated>
			</div>
		</div>
	</div>
</body>
</html>