<f:layout name="Master" />

<f:section name="content">
	<ul>
		<li><f:link.action action="createData">Create dummy data</f:link.action></li>
		<li><f:link.action action="newSupervisor">Create supervisor account</f:link.action></li>
		<f:comment><li><f:link.action action="showRoutingCache">Show Routing Cache</f:link.action></li></f:comment>
	</ul>
</f:section>