<f:layout name="Master" />

<f:section name="content">
	<f:form action="createSupervisor">
		<dl>
			<dt><label for="username">Username:</label></dt>
			<dd>
				<f:render partial="PropertyErrors" arguments="{propertyPath: 'username'}" />
				<f:form.textfield name="username" id="username" value="{username}" />
			</dd>

			<dt><label for="password">Password:</label></dt>
			<dd>
				<f:render partial="PropertyErrors" arguments="{propertyPath: 'password'}" />
				<f:form.password name="password" id="password" />
			</dd>

			<dd>
				<f:form.submit value="create supervisor account" />
			</dd>
		</dl>
	</f:form>
</f:section>