{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<f:if condition="{objectPathMappings}">
		<f:then>
			<h2>{objectPathMappings -> f:count(} entries:</h2>
			<table style="width: 700px">
				<tr>
					<th>Object type</th>
					<th>Uri Pattern</th>
					<th>Path segment</th>
					<th>Object identifier</th>
				</tr>
				<f:for each="{objectPathMappings}" as="objectPathMapping">
					<tr>
						<td>{objectPathMapping.objectType}</td>
						<td>{objectPathMapping.uriPattern}</td>
						<td>{objectPathMapping.pathSegment}</td>
						<td>{objectPathMapping.identifier}</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>Routing cache is empty!</em></p>
		</f:else>
	</f:if>
</f:section>