<f:layout name="Master" />

<f:section name="content">
    <h1>Edit Budget &quot;{budget.title}&quot;</h1>
    <f:render partial="BudgetForm" arguments="{action: 'update', budget: budget, objectName: 'budget'}" />
</f:section>