<f:layout name="Master" />

<f:section name="content">
	<h1>Budgets ({budgets -> f:count()})</h1>
	<f:if condition="{budgets}">
		<f:then>
			<table>
				<tr>
					<th style="width: 270px">Title</th>
					<th style="width: 200px">Applicant</th>
					<th style="width: 280px">URL</th>
					<th style="width: 100px">Amount</th>
					<th style="width: 80px">Options</th>
				</tr>
				<f:for each="{budgets}" as="budget">
					<tr>
						<td>{budget.title}</td>
						<td>{budget.applicant}</td>
						<td>
							<f:if condition="{budget.url}">
								<f:then>
									<f:link.external uri="{budget.url}">{budget.url}</f:link.external>
								</f:then>
								<f:else>
									--
								</f:else>
							</f:if>
						</td>
						<td style="text-align: right; padding-right: 15px">{budget.amount} €</td>
						<td>
							<f:link.action action="edit" arguments="{budget: budget}">edit</f:link.action>
							<f:if condition="{budget.elections}">
								<f:then>
									<em title="Budget is element of an election and thus cannot be deleted.">delete</em>
								</f:then>
								<f:else>
									<f:link.action action="delete" arguments="{budget: budget}" onclick="return confirm('Are you sure that you want to delete the budget \'{budget.title}\'?')">delete</f:link.action>
								</f:else>
							</f:if>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no budgets yet</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new">Add budget</f:link.action>
</f:section>