<f:layout name="Master" />

<f:section name="content">

	<f:render partial="ElectionForm" arguments="{action: 'create', election: newBudgetElection, budgets: budgets, objectName: 'newBudgetElection', electorates: electorates, type: 'Budget'}" />

</f:section>