{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<h1>Polling &quot;{election.title}&quot;</h1>
	<f:if condition="{code}">
		<f:then>
			<p>Dear elector,</p>
		</f:then>
		<f:else>
			<p>Dear visitor,</p>
		</f:else>
	</f:if>
	<p>{election.description}</p>
	<p>This Polling is active from <strong>{election.startDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.startDate -> b:format.age()}) until <strong>{election.endDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.endDate -> b:format.age()})</p>
	<f:if condition="{code}">
	</f:if>
	<f:form action="vote" objectName="budgetVote">
		<f:if condition="{code}">
			<f:form.hidden name="code" value="{code}" />
			<f:form.hidden property="election" value="{election}" />
		</f:if>
		<table>
			<tr>
				<th colspan="2"><h2>Budgets:</h2></th>
				<th colspan="2"><a href="#" class="toggleComments">Show/hide description</a></th>
			</tr>
			<tr>
				<th style="width: 200px">Title</th>
				<th style="width: 200px">Applicant</th>
                <th style="width: 280px">URL</th>
				<th style="width: 100px">Amount</th>
				<th style="width: 170px">Poll</th>
			</tr>
			<f:for each="{election.budgets}" as="budget" iteration="iteration">
				<tr>
					<td>
                        {budget.title}
					</td>
                    <td>
                        {budget.applicant}
                    </td>
					<td>
						<f:if condition="{budget.url}">
							<f:then>
								<f:link.external uri="{budget.url}">{budget.url}</f:link.external>
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
                    <td>{budget.amount} €</td>
					<td>
						<f:if condition="{code}">
							<f:then>
								<f:if condition="{election.active}">
									<f:then>
                                        <f:form.hidden property="budgetRatings.{iteration.cycle}.budget" value="{budget}" />

                                        <f:form.radio property="budgetRatings.{iteration.cycle}.rating" value="-1" /> -1
                                        <f:form.radio property="budgetRatings.{iteration.cycle}.rating" value="0" checked="1" /> 0
                                        <f:form.radio property="budgetRatings.{iteration.cycle}.rating" value="1" /> +1

									</f:then>
									<f:else>
										<em>voting period expired!</em>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<em>only electors are able to vote</em>
							</f:else>
						</f:if>
					</td>
				</tr>
				<f:if condition="{budget.description}">
					<tr class="comment">
						<td colspan="5">
							{budget.description -> f:format.nl2br()}
						</td>
					</tr>
				</f:if>
			</f:for>
			<tr>
				<td colspan="5">
					<f:if condition="{code}">
						<f:if condition="{election.active}">
							<f:form.submit value="POLL!" />
						</f:if>
					</f:if>
					<f:if condition="{election.active}">
						<f:then></f:then>
						<f:else>
							<p><em>The polling period of this poll has expired!</em></p>
							<p><f:link.action action="showResults" arguments="{election: election}">show results</f:link.action></p>
						</f:else>
					</f:if>
				</td>
			</tr>
		</table>
	</f:form>
</f:section>