{namespace b=TYPO3\BccVoting\ViewHelpers}
<f:layout name="Master" />

<f:section name="content">
	<h1>Polling &quot;{election.title}&quot;</h1>
	<p>Dear visitor,</p>
	<p>{election.description}</p>
	<p>This polling is active from <strong>{election.startDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.startDate -> b:format.age()}) until <strong>{election.endDate -> f:format.date(format: 'D, d M Y H:i:s')}</strong> ({election.endDate -> b:format.age()})</p>
	<h2>Polls ({votingResult.totalVotes} total polls):</h2>
	<p><f:link.action action="showCsv" format="csv" arguments="{election: election}">CSV-Export</f:link.action></p>
	<table>
		<thead>
			<tr>
				<th style="width: 150px">Title</th>
				<th style="width: 150px">Applicant</th>
				<th style="width: 250px">Website</th>
				<th style="width: 170px">Polls</th>
				<th style="width: 30px">Sum</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{votingResult.budgetResults}" as="budgetResult" iteration="iteration">
				<tr>
					<td>{budgetResult.budget.title}</td>
					<td>{budgetResult.budget.applicant}</td>
					<td>
						<f:if condition="{budgetResult.budget.url}">
							<f:then>
								<f:link.external uri="{budgetResult.budget.url}">{budgetResult.budget.url}</f:link.external>
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
					<td>
						-1 ({budgetResult.amountNegativeVotes}) &nbsp;&nbsp; 0 ({budgetResult.amountNeutralVotes}) &nbsp;&nbsp; 1 ({budgetResult.amountPositiveVotes})
					</td>
					<td><strong>{budgetResult.sum}</strong></td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>