<f:layout name="Master" />

<f:section name="content">
	<h1>Import Electors</h1>
	<f:render partial="Errors" arguments="{objectName: electorImport}" />
	<f:if condition="{electorates}">
		<f:then>
			<f:form action="import" object="{electorImport}" objectName="electorImport" enctype="multipart/form-data">
				<dl>
					<dt><label for="electorate">Import into Electorate</label></dt>
					<dd><f:form.select property="electorate" id="electorate" options="{electorates}" optionLabelField="title" value="{currentElectorate}" /></dd>
					<dt><label for="csvResource">CSV</label></dt>
					<dd><f:form.upload property="csvResource" id="csvResource" /></dd>
					<dd><f:form.submit value="Import electors"/></dd>
				</dl>
			</f:form>
		</f:then>
		<f:else>
			<p><em>Please create an <f:link.action action="new" controller="Electorate">electorate</f:link.action> first!</em></p>
		</f:else>
	</f:if>
</f:section>