<f:layout name="Master" />

<f:section name="content">
	<h1>Electors ({electors -> f:count()})</h1>
	<f:if condition="{electors}">
		<f:then>
			<table>
				<tr>
					<th style="width: 200px">Name</th>
					<th style="width: 200px">Email</th>
					<th style="width: 200px"># Electorates</th>
					<th style="width: 200px">Options</th>
				</tr>
				<f:for each="{electors}" as="elector">
					<tr>
						<td>{elector.fullName}</td>
						<td><f:link.email email="{elector.email}">{elector.email}</f:link.email></td>
						<td style="text-align: right; padding-right: 15px">{f:count(subject: elector.electorates)}</td>
						<td>
							<f:link.action action="edit" arguments="{elector: elector}">edit</f:link.action>
							<f:link.action action="delete" arguments="{elector: elector}" onclick="return confirm('Are you sure that you want to delete the elector \'{elector.fullName}\'?')">delete</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><em>There are no electors yet</em></p>
		</f:else>
	</f:if>
	<f:link.action action="new">Add elector</f:link.action> |
	<f:link.action action="importform">Import electors</f:link.action>
	<f:if condition="{electors}">
		 | <f:link.action action="export">Export electors</f:link.action>
		 | <f:link.action action="deleteAll" onclick="return confirm('Are you sure that you want to delete ALL electors? They will be removed from linked electorates too.')">Delete all electors (!)</f:link.action>
	</f:if>
</f:section>