<f:layout name="Master" />

<f:section name="content">
	<h1>Add Elector</h1>
	<f:render partial="ElectorForm" arguments="{action: 'create', elector: newElector, objectName: 'newElector'}" />
</f:section>