@font-face {
    font-family: 'Share-Regular';
    src: url('../Fonts/Share-Regular-webfont.eot');
    src: url('../Fonts/Share-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Share-Regular-webfont.woff') format('woff'),
         url('../Fonts/Share-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/Share-Regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Light-webfont.eot');
    src: url('../Fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../Fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-LightItalic-webfont.eot');
    src: url('../Fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../Fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Bold-webfont.eot');
    src: url('../Fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../Fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


html {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	border-top: 1px solid white;
	background: -moz-linear-gradient(top, #ccc 0%, #fff 50%) no-repeat #FFF;/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(50%,#fff)) no-repeat #FFF;; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ccc 0%, #fff 50%) no-repeat #FFF;; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ccc 0%, #fff 50%) no-repeat #FFF;; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ccc 0%, #fff 50%) no-repeat #FFF;; /* IE10+ */
	background: linear-gradient(top,  #ccc 0%, #fff 50%) no-repeat #FFF;; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

body {
	background: white;
	margin: 0;
	padding: 0;
	font: 12px/14px arial, _sans;
	color: black;
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
}

a {
	color: black;
	text-decoration: underline;
}
	a.btn {
		text-decoration: none;
	}
a:hover {
	text-decoration: none;
}

p {
	font-size: 13px;
	line-height: 1.5;
}

ul {
	padding-left: 14px;
}
li {
	line-height: 1.5;
}

h1, h2, h3 {
	font-weight: normal;
	font-family: 'Share-Regular';
}
h1 {
	font-size: 30px;
	padding: 15px;
	background-color: rgba(185,185,185,1);
	color:white;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 15px;
}

table, fieldset {
	margin-bottom: 20px;
}
th {
	padding-bottom: 8px;
	text-align: left;
}
td {
	vertical-align: top;
	padding: 8px 0 2px 0;
	border-top: 1px dotted #999;
}

dt {
	clear: both;
	float: left;
	padding-top: 10px;
	margin-right: 5px;
	width: 100px;
}
dd {
	padding-top: 7px;
	margin-left: 100px;
}
label {
	font-weight: bold;
}


#container {
	background-color: white;
	width: 50%;
	margin: 25px auto 0 auto;
	padding: 20px 30px 45px 30px;
	border: 1px solid rgba(0,0,0,0.25);
	border-top: 3px solid #FF8700;
	border-bottom: 3px solid #69A550;
	border-radius: 5px;
	box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
}

#footer {
	margin-top: 20px;
	padding: 10px 0;
	border-top: 1px dotted #999;
	font-size: 10px;
}
#footerNavigation {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#footerNavigation li {
	margin: 0 8px 0 0;
	padding: 0;
	float: left;
}
#login {
	float: right;
}

#content img {
	border: 1px solid #eee;
}



.toggleComments {
	font-size: 11px;
	float: right;
}
tr.comment {
	display: none;
}
tr.comment td {
	font-size: 11px;
	background: #eee;
	padding: 3px 5px 8px 5px;
	border-top: none;
}

.DynarchCalendar-topCont, .DynarchCalendar-topCont table {
	margin: 0;
	width: auto;
}
.DynarchCalendar-topCont th {
	padding: 0;
	text-align: center;
}
.DynarchCalendar-topCont td {
	vertical-align: inherit;
	padding: 0;
	border: none;
}
.multiselect {
	width: 600px;
	height: 200px;
}
.ui-multiselect li {
	overflow: hidden;
}

.percentBar {
	margin: 10px 0;
	border: 1px solid black;
	background: #eee;
	width: 99%;
	height: 20px;
}
.percentBar div {
	background: #356d39;
	height: 20px;
}

.typo3-widget-paginator {
	margin: 0 10px 20px 0;
	padding: 10px 20px;
	background: #f0f0f0;
	border: 1px solid #ccc;
}

.typo3-widget-paginator li {
	list-type: none;
	display: inline;
	margin: 0 5px;
}

.flashmessages {
	position: absolute;
	top: 30px;
	padding: 10px 20px;
	background: #fff79f;
	border: 1px solid #dfd88b;
	font-weight: bold;
	list-style: none;
}
.flashmessages li {
	margin: 0;
	padding: 0 0 10px 0;
}
.flashmessages li:last-child {
	padding-bottom: 0;
}
.errors {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #ffbfbf;
	border: 1px solid #cf2626;
	list-style: none;
}
.errors>li {
	margin: 0;
	padding: 0 0 10px 0;
	font-weight: bold;
}
.errors>li:last-child {
	padding-bottom: 0;
}
.errors li li {
	font-weight: normal;
}
.f3-form-error {
	background: #ffbfbf;
}

/* Bootstrap Buttons */
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary {
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0055CC;
}
.btn-warning {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #F89406;
}
.btn-danger {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #BD362F;
}
.btn-success {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51A351;
}
.btn-info {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2F96B4;
}