<f:layout name="Master" />

<f:section name="content">
	<h1>TYPO3 Association Voting/Polling</h1>
	<p>Welcome, you stumbled over the general voting/polling portal of the TYPO3 Association. Here you can find the current elections and pollings regarding the TYPO3 Association. If you have any questions don't hesitate to contact <a href="mailto:info@typo3.org">info@typo3.org</a>.</p>
	<h2>Active elections/pollings</h2>
	<f:if condition="{activeElections}">
		<f:then>
			<ul>
				<f:for each="{activeElections}" as="election">
					<li><f:link.action action="show" controller="Election" arguments="{election: election}">{election.title}</f:link.action> ({election.startDate -> f:format.date(format: 'j.n.')} - {election.endDate -> f:format.date(format: 'j.n.')})</li>				</f:for>
			</ul>
		</f:then>
		<f:else>
			<em>There are no active elections/pollings at the moment.</em>
		</f:else>
	</f:if>
	<h2>Expired elections/pollings</h2>
	<f:if condition="{expiredElections}">
		<f:then>
			<ul>
				<f:for each="{expiredElections}" as="election">
					<li><f:link.action action="showResults" controller="Election" arguments="{election: election}">{election.title}</f:link.action> ({election.startDate -> f:format.date(format: 'j.n.')} - {election.endDate -> f:format.date(format: 'j.n.')})</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<em>There are no expired elections/pollings at the moment.</em>
		</f:else>
	</f:if>
	<h2>Apply as Nominee</h2>
	<p>The nomination period has ended on 2012-12-31. Positions of EAB and BCC are elected directly by the members of the TYPO3 Association. If you are a member you will get a voting token by email in January 2013. You can then cast your vote between 2013-01-18 and 2013-02-02.</p>
	<p>For more info check: <a href="http://typo3.org/news/article/upcoming-elections-in-the-typo3-association/">http://typo3.org/news/article/upcoming-elections-in-the-typo3-association/</a></p>
	<f:if condition="FALSE">
		<f:link.action action="apply" controller="Nominee">Nominee application form</f:link.action>-->
	</f:if>
	<f:security.ifHasRole role="Supervisor">
		<h2>Administration</h2>
		<ul>
			<li><f:link.action controller="Nominee">Nominees</f:link.action> ({nomineeCount})</li>
            <li><f:link.action controller="Budget">Budgets</f:link.action> ({budgetCount})</li>
			<li><f:link.action controller="Elector">Electors</f:link.action> ({electorCount})</li>
			<li><f:link.action controller="Electorate">Electorates</f:link.action> ({electorateCount})</li>
			<li>
				<f:if condition="{electorateCount} > 0">
					<f:then>
						<f:link.action controller="Election">Elections</f:link.action> ({electionCount})
					</f:then>
					<f:else>
						Elections ({electionCount}) - <em>create electorate first!</em>
					</f:else>
				</f:if>
			</li>
			<li>
				<f:if condition="{electorateCount} > 0">
					<f:then>
						<f:link.action controller="Circular">Circulars</f:link.action> ({circularCount})</li>
					</f:then>
					<f:else>
						Circulars ({circularCount}) - <em>create electorate first!</em>
					</f:else>
				</f:if>
			</li>
		</ul>
	</f:security.ifHasRole>
</f:section>